includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - src
