includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - src
    ignoreErrors:
      - identifier: missingType.generics
