openapi: 3.1.0
info:
  title: Augmented Steam Server
  description: Augmented Steam server for Augmented Steam browser extension
  version: 2.0.0
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.augmentedsteam.com
paths:
  /rates/v1:
    get:
      operationId: rates-v1
      tags:
        - global
      summary: Currency Conversion Rates
      description: Get current conversion rates
      security: []
      parameters:
        - name: to
          in: query
          description: List of currency codes
          required: true
          style: simple
          schema:
            type: array
            items:
              $ref: './schemas/obj.currency-code.yaml'
      responses:
        200:
          $ref: "./defs/rates.v1.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /early-access/v1:
    get:
      operationId: earlyaccess-v1
      tags:
        - global
      summary: Early Access Games
      responses:
        200:
          $ref: "./defs/early-access.v1.yaml"

  /prices/v2:
    post:
      operationId: prices-v2
      tags:
        - app
      summary: Prices
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                shops:
                  type: array
                  items:
                    type: integer
                apps:
                  type: array
                  items:
                    type: integer
                subs:
                  type: array
                  items:
                    type: integer
                bundles:
                  type: array
                  items:
                    type: integer
                voucher:
                  type: boolean

      responses:
        200:
          $ref: "./defs/prices.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /app/{appid}/v2:
    parameters:
      - schema:
          type: integer
          name: appid
          in: path
          required: true
    get:
      operationId: get-v1-app-appid
      tags:
        - app
      summary: App Info
      security: []
      responses:
        200:
          $ref: "./defs/app.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /dlc/{appid}/v2:
    get:
      operationId: dlcinfo-v2
      tags:
        - app
      summary: DLC Info
      security: []
      parameters:
        - $ref: "#/components/parameters/AppId"
      responses:
        200:
          $ref: "./defs/dlcinfo.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /similar/{appid}/v2:
    parameters:
      - schema:
          type: integer
          name: appid
          in: path
          required: true
    get:
      operationId: get-v2-similar-appid
      tags:
        - app
      parameters:
        - schema:
            type: integer
            example: 5
            in: query
            name: count
        - schema:
            type: boolean
            example: '1'
            in: query
            name: shuffle
      summary: Similar Games
      responses:
        200:
          $ref: "./defs/similar.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /market/cards/v2:
    get:
      operationId: market-cards-v2
      tags:
        - market
      summary: Cards
      security: []
      parameters:
        - $ref: "#/components/parameters/Currency"
        - $ref: "#/components/parameters/AppId"
      responses:
        200:
          $ref: "./defs/market.cards.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /market/cards/average-prices/v2:
    get:
      operationId: market-cards-averageprices-v2
      tags:
        - market
      summary: Average Card Prices
      security: []
      parameters:
        - $ref: "#/components/parameters/Currency"
        - name: appids
          in: query
          required: true
          style: simple
          schema:
            type: array
            items:
              type: integer
      responses:
        200:
          $ref: "./defs/market.cards.average-prices.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /twitch/{channel}/stream/v2:
    parameters:
      - schema:
          type: string
          name: channel
          in: path
          required: true
    get:
      operationId: twitch-stream-v2
      summary: Current Stream of Twitch Channel
      tags:
        - community
      responses:
        '200':
          $ref: "./defs/twitch-stream.v2.yaml"

  /profile/{steamId}/v2:
    get:
      operationId: profile-v2
      tags:
        - profile
      summary: Profile Info
      security: []
      parameters:
        - schema:
            type: integer
          name: steamId
          in: path
          required: true
      responses:
        200:
          $ref: "./defs/profile.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /profile/background/list/v2:
    get:
      operationId: background-list-v2
      tags:
        - profile
      summary: List of Available Backgrounds
      security: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        200:
          $ref: "./defs/profile.background.list.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /profile/background/games/v1:
    get:
      operationId: background-games-v1
      tags:
        - profile
      summary: List of Games with Backgrounds
      security: []
      responses:
        200:
          $ref: "./defs/profile.background.games.v2.200.yaml"
        default:
          $ref: "./defs/default-error.yaml"

  /profile/background/delete/v2:
    get:
      operationId: delete-background-v2
      tags:
        - profile
      summary: Delete Background
      security: []
      parameters:
        - $ref: '#/components/parameters/SteamId'
      responses:
        302:
          description: Found

  /profile/background/save/v2:
    get:
      operationId: save-background-v2
      tags:
        - profile
      summary: Save Background
      security: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - schema:
            type: string
            in: query
            name: img
            required: true
        - $ref: '#/components/parameters/SteamId'
      responses:
        302:
          description: Found

  /profile/style/delete/v2:
    get:
      operationId: delete-style-v2
      tags:
        - profile
      summary: Delete Profile Style
      security: []
      parameters:
        - $ref: '#/components/parameters/SteamId'
      responses:
        302:
          description: Found

  /profile/style/save/v2:
    get:
      operationId: save-style-v2
      tags:
        - profile
      summary: Save Profile Style
      security: []
      parameters:
        - schema:
            type: string
            in: query
            name: style
            required: true
        - $ref: '#/components/parameters/SteamId'
      responses:
        302:
          description: Found

components:
  parameters:
    AppId:
      name: appid
      in: query
      required: true
      schema:
        type: integer
    Currency:
      name: currency
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/CurrencyCode'
    SteamId:
      name: profile
      in: query
      required: false
      schema:
        type: integer
      description: Steam profile ID
  schemas:
    CurrencyCode:
      type: string
      pattern: ^[A-Z]{3}$
  securitySchemes: {}
